@font-face {
  -fx-font-family: "Mota Pixel Regular";
  src: url("fonts/MotaPixel-Regular.otf");
}

@font-face {
  -fx-font-family: "Mota Pixel Light";
  src: url("fonts/MotaPixel-Light.otf");
}

@font-face {
  -fx-font-family: "Mota Pixel Bold Shadow 4 Long";
  src: url("fonts/MotaPixel-Bold-Shadow-4-Long.otf");
}

.send-button {
  -fx-font-family: monospace;
  -fx-font-size:24.0;
}

.debug {
  -fx-border-color: black;
}

.text {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
}

.big-button-text .text {
  -fx-font-size: 28px;
}
.message-local{
  -fx-background-color: #E4D2AA;
  -fx-background-radius: 15;
  -fx-border-image-source: url("/assets/chat_message_local.png");
  -fx-border-image-repeat: stretch;
  -fx-border-image-slice: 20;
  -fx-border-image-width: 4;
}
.message-remote{
  -fx-background-color: #C7B08B;
  -fx-background-radius: 15;
  -fx-border-image-source: url("/assets/chat_message_local.png");
  -fx-border-image-repeat: stretch;
  -fx-border-image-slice: 20;
  -fx-border-image-width: 4;
}

/* Text that is displayed in the TextFlow for user input */
.text-chat-input-display {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24.0;
}
.text-chat-input-display-bold {
  -fx-font-family: "Mota Pixel Bold Shadow 4 Long";
  -fx-font-size: 24.0;
}
.text-chat-input-display-light {
  -fx-font-family: "Mota Pixel Light";
  -fx-font-size: 24.0;
}

/* Text that is displayed in chat messages */
.text-chat-history {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 24.0;
}
/* Text that is displayed in chat messages */
.text-chat-timestamp {
  -fx-font-family: "Mota Pixel Light";
  -fx-font-size: 14.0;
}
.scroll-pane .viewport {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
}


.scroll-pane .scroll-bar:vertical .thumb{
  -fx-background-image: url("../assets/red_chip.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-background-color: #422433;
  -fx-background-position: center;
}
.scroll-pane .scroll-bar:vertical .increment-button{
  -fx-background-color: transparent;
  -fx-background-image: url("../assets/decrement-button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-text-fill: transparent;
}
.scroll-pane .scroll-bar:vertical .increment-arrow{
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
}
.scroll-pane .scroll-bar:vertical .decrement-arrow{
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
}
.scroll-pane .scroll-bar:vertical .decrement-button{
  -fx-background-color: transparent;
  -fx-background-image: url("../assets/increment-button.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}
.scroll-pane .scroll-bar:vertical .track{
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-border-style: solid; 
  -fx-border-width: 2px; 
}

.chat-highlight {
  -fx-border-color: #FFD541;
  -fx-border-width: 3px;
  -fx-border-insets: -3px -8px -3px -8px;
}
