@font-face {
  -fx-font-family: "Mota Pixel Regular";
  src: url("fonts/MotaPixel-Regular.otf");
}
@font-face {
  -fx-font-family: "Mota Pixel Bold Shadow 2 Short";
  src: url("fonts/MotaPixel-Bold-Shadow-2-Short.otf");
}

@font-face {
  -fx-font-family: "Mota Pixel Bold";
  src: url("fonts/MotaPixel-Bold.otf");
}

.root{
}


.loading-text {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24.0;
  -fx-fill: white;
}

.title-text {
  -fx-font-family: "Mota Pixel Bold Shadow 2 Short";
  -fx-font-size:100.0;
}


.text-field {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24.0;
  -fx-border-color: #938056;
  -fx-border-width: 4px;
  -fx-background-color: #dcd7ba;
}

.invalid-text {
  -fx-text-fill: #B21313;
}

.confirm-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/confirm_button.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 96 32; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.confirm-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/confirm_button_hover.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 96 32; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.confirm-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/confirm_button_pressed.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 96 32; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}

.invite-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/invite_button.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 100 48; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.invite-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/invite_button_hover.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 100 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.invite-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/invite_button_pressed.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 100 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.login-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/login_button.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 80 48; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.login-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/login_button_hover.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 80 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.login-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/login_button_pressed.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 80 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}

.connection-button-small {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/connnection_button_small.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 64 40; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
.connection-button-small:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/connnection_button_small_hover.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 64 40; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
.connection-button-small:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/connnection_button_small_pressed.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 64 40; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}

.connection-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/connections_button.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 144 52; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
.connection-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/connections_button_hover.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 144 52; 
  -fx-label-padding: 0 0 10 0;
  -fx-background-position: center top;
}
.connection-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/connections_button_pressed.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 144 52; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}

.menu-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/menu_button.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 128 48; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
.menu-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/menu_button_hover.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 128 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
.menu-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/menu_button_down.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 128 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
>>>>>>> 10422eb (buttons)
.pixel-button {
  -fx-border-color: #363646;
  -fx-border-width: 3px;
  -fx-background-color: #639bFF;
  -fx-background-insets: 0;
}

.pixel-button:hover {
  -fx-background-color: #337EFF;
}

.pixel-button-small {
}

.pixel-button-small:hover {
  -fx-background-color: #337EFF;
}

.back-button {
  -fx-background-image: url('/assets/exit_button.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 20 20; 
  -fx-background-position: center center;
  -fx-text-fill: transparent;
}

.back-button:hover .text {
  -fx-font-family: "Mota Pixel Bold";
}

.list-view .list-cell {
  -fx-background: transparent;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-text-fill: black;
}
.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
  -fx-opacity: 0;
  -fx-padding: 0;
  -fx-pref-width: 0;
  -fx-pref-height: 0;
}


.recent-connection-cell {
  -fx-padding: 10px;
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
}
.recent-connection-cell-text {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
}
.recent-connection-cell-text-selected {
  -fx-font-family: "Mota Pixel Bold";
  -fx-font-size: 20px;
}
.recent-connection-cell-selected {
  -fx-padding: 10px;
}
.slider .thumb {
  -fx-background-image: url("../assets/red_chip.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-background-position: center;
}

.slider .track {
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-border-style: solid; 
  -fx-border-width: 2px; 
}

.check-box .box {
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-border-style: solid; 
  -fx-border-width: 2px; 
}

.tooltip {
  -fx-font-family: "Mota Pixel Regular";
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-font-size: 12px;
  -fx-text-fill: black;
}
.column-header {
  -fx-background-color: transparent; 

}
.leader-board-entry{
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:20px;
}
.leader-board-row{
  -fx-background-color: #c0a36e; 
}

.text-medium {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:20px;
}
.text-medium-large {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24px;
}

.text-bold-medium {
  -fx-font-family: "Mota Pixel Bold Shadow 2 Short";
  -fx-font-size:32px;
}
.text-number {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
  -fx-fill: green;
}

/*  Background color of the whole context menu */
.choice-box .context-menu { -fx-background-color: #938056; }

 /* Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: #639bff; }

/*  Background color of the control itself */
.choice-box {
  -fx-border-color: #363646;
  -fx-border-width: 2px;
  -fx-background-insets: 0;
  -fx-mark-color: #45a218;
}
