@font-face {
  -fx-font-family: "Mota Pixel Regular";
  src: url("fonts/MotaPixel-Regular.otf");
}
@font-face {
  -fx-font-family: "Mota Pixel Bold Shadow 2 Short";
  src: url("fonts/MotaPixel-Bold-Shadow-2-Short.otf");
}

@font-face {
  -fx-font-family: "Mota Pixel Bold";
  src: url("fonts/MotaPixel-Bold.otf");
}

.root{
}


.loading-text {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24.0;
  -fx-fill: white;
}

.title-text {
  -fx-font-family: "Mota Pixel Bold Shadow 2 Short";
  -fx-font-size:100.0;
}


.text-field {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24.0;
  -fx-border-color: #938056;
  -fx-border-width: 4px;
  -fx-background-color: #dcd7ba;
}

.invalid-text {
  -fx-text-fill: #B21313;
}

.draw-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/draw1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 39 33; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.draw-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/draw2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 39 33; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}

.draw-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/draw3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 39 33; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}

.request-resign-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/red-flag1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 39 33; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.request-resign-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/red-flag2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 39 33; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}

.request-resign-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/red-flag3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 39 33; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}

.resign-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/surrender-flag1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 39 33; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.resign-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/surrender-flag2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 39 33; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}

.resign-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/surrender-flag3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 39 33; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}

.send-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/send_button1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 75 50; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.send-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/send_button2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 75 50; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}

.send-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/send_button3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 75 50; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}

.confirm-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/confirm_button1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 96 32; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.confirm-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/confirm_button2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 96 32; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.confirm-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/confirm_button3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 96 32; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}

.invite-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/invite_button1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 100 48; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.invite-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/invite_button2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 100 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.invite-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/invite_button3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 100 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}
.login-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/login_button1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 80 48; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.login-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/login_button2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 80 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 8 0;
}
.login-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/login_button3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 80 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}

.connection-button-small {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/connection_button_small1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 64 40; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}
.connection-button-small:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/connection_button_small2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 64 40; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 4 0;
}
.connection-button-small:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/connection_button_small3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 64 40; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 0 0;
}

.connection-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/connections_button1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 144 52; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
.connection-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/connections_button2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 144 52; 
  -fx-label-padding: 0 0 10 0;
  -fx-background-position: center top;
}
.connection-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/connections_button3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 144 52; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 6 0;
}

.menu-button {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/menu_button1.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 128 48; 
  -fx-border-color: transparent;
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
.menu-button:hover {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/menu_button2.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-border-color: transparent;
  -fx-background-size: 128 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 10 0;
}
.menu-button:pressed {
  -fx-background-insets: 0;
  -fx-border-width: 0px;
  -fx-background-image: url('/assets/buttons/menu_button3.png');
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 128 48; 
  -fx-background-position: center top;
  -fx-label-padding: 0 0 6 0;
}


.back-button {
  -fx-background-image: url('/assets/exit_button.png');
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat; 
  -fx-background-size: 20 20; 
  -fx-background-position: center center;
  -fx-text-fill: transparent;
}

.back-button:hover .text {
  -fx-font-family: "Mota Pixel Bold";
}


.button-bottom-padded {
  -fx-label-padding: 0 0 16 0;
}
.button-bottom-padded:hover {
  -fx-label-padding: 0 0 16 0;
}
.button-bottom-padded:pressed {
  -fx-label-padding: 0 0 12 0;
}


.list-view .list-cell {
  -fx-background: transparent;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-text-fill: black;
}
.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
  -fx-opacity: 0;
  -fx-padding: 0;
  -fx-pref-width: 0;
  -fx-pref-height: 0;
}


.recent-connection-cell {
  -fx-padding: 10px;
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
}
.recent-connection-cell-text {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
}
.recent-connection-cell-text-selected {
  -fx-font-family: "Mota Pixel Bold";
  -fx-font-size: 20px;
}
.recent-connection-cell-selected {
  -fx-padding: 10px;
}
.slider .thumb {
  -fx-background-image: url("../assets/red_chip.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-background-position: center;
}

.slider .track {
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-border-style: solid; 
  -fx-border-width: 2px; 
}

.check-box .box {
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-border-style: solid; 
  -fx-border-width: 2px; 
}

.tooltip {
  -fx-font-family: "Mota Pixel Regular";
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-font-size: 12px;
  -fx-text-fill: black;
}
.column-header {
  -fx-background-color: transparent; 

}
.leader-board-entry{
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:20px;
}
.leader-board-row{
  -fx-background-color: #c0a36e; 
}

.text-medium {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:20px;
}
.text-medium-large {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24px;
}

.text-bold-medium {
  -fx-font-family: "Mota Pixel Bold Shadow 2 Short";
  -fx-font-size:32px;
}
.text-number {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
  -fx-fill: green;
}

/*  Background color of the whole context menu */
.choice-box .context-menu { -fx-background-color: #938056; }

 /* Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: #639bff; }

/*  Background color of the control itself */
.choice-box {
  -fx-border-color: #363646;
  -fx-border-width: 2px;
  -fx-background-insets: 0;
  -fx-mark-color: #45a218;
}
