@font-face {
  -fx-font-family: "Mota Pixel Regular";
  src: url("fonts/MotaPixel-Regular.otf");
}
@font-face {
  -fx-font-family: "Mota Pixel Bold Shadow 2 Short";
  src: url("fonts/MotaPixel-Bold-Shadow-2-Short.otf");
}

@font-face {
  -fx-font-family: "Mota Pixel Bold";
  src: url("fonts/MotaPixel-Bold.otf");
}

.root{
}


.loading-text {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24.0;
  -fx-fill: white;
}

.title-text {
  -fx-font-family: "Mota Pixel Bold Shadow 2 Short";
  -fx-font-size:100.0;
}

.text-field {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:24.0;
  -fx-border-color: #938056;
  -fx-border-width: 4px;
  -fx-background-color: #dcd7ba;
}

.pixel-button {
  -fx-border-color: #363646;
  -fx-border-width: 3px;
  -fx-background-color: #639bff;
  -fx-background-insets: 0;
}

.pixel-button:hover {
  -fx-background-color: #337EFF;
}

.back-button {
  -fx-border-color: #363646;
  -fx-border-width: 0px;
  -fx-background-color: transparent;
}

.back-button .text:hover {
  -fx-font-family: "Mota Pixel Bold";
}

.list-view .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}
.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}


.recent-connection-cell {
  -fx-padding: 10px;
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
}
.recent-connection-cell-text {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
}
.recent-connection-cell-text-selected {
  -fx-font-family: "Mota Pixel Bold";
  -fx-font-size: 20px;
}
.recent-connection-cell-selected {
  -fx-padding: 10px;
}
.slider .thumb {
  -fx-background-image: url("../assets/red_chip.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-background-position: center;
}

.slider .track {
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-border-style: solid; 
  -fx-border-width: 2px; 
}

.check-box .box {
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-border-style: solid; 
  -fx-border-width: 2px; 
}

.tooltip {
  -fx-font-family: "Mota Pixel Regular";
  -fx-background-color: #c0a36e; 
  -fx-border-color: #363646; 
  -fx-font-size: 12px;
  -fx-text-fill: black;
}
.column-header {
  -fx-border-width: 2px;
  -fx-border-color: black;
  -fx-background-color: #c0a36e; 

}
.leader-board-entry{
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:20px;
}
.leader-board-row{
  -fx-background-color: #c0a36e; 
}

.text-medium {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size:20px;
}
.text-number {
  -fx-font-family: "Mota Pixel Regular";
  -fx-font-size: 20px;
  -fx-fill: green;
}
